body{ color:pink;
	font-family: "arial", serif;
	background-color:#808080
} 
h3{ color:blue;
     adamina, helvetica, sans-serif; 
     } 
     
note{
margin: 40px;
padding:15px;
border-radius: 20px;
    }